:root{
    --black: #333333;
    --blackLight: #474747;
}


.footer {
    width: 100%;
    height: 60px;
    background: #333333;
}

.footerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.socialMedia {
    width: 100%;
    height: 40px;
}

.copyright {
    width: 100%;
    height: 20px;
    background-color: #474747;
    margin-bottom: 0;
    color: #fafafa;
}